body {
  background-color: #BE4860;
}

hr {
  border-style: dotted none none none;
  height: 0;
  border-width: thick;
  background-position: center;
  width: 40px;
  border-color: grey;



}
h3 {
  color: #66BFBF;
  background-color: #15161E;
  width: 40%;
}
h1 {
  color: #66BFBF;
}
